language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

virtualenv:
  system_site_packages: true

services:
  - postgresql

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      - python-pychart
      - pdftk
      - imagemagick
      - wkhtmltopdf
      - ttf-dejavu

env:
  global:
    - VERSION="8.0"
  matrix:
    - VERSION="8.0"

# set up an X server to run wkhtmltopdf.
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - compare -version
  - python bootstrap.py
  - bin/buildout -c buildout.cfg
  - createdb ort
  - bin/start_odoo -d ort --stop-after-init -i base

script:
  - bin/nosetests -d ort -- -s -v odoo_report_testing/tests/
